<h1>Custom Class & Style Directives</h1>
<div [appClass]="{'app-container': true, appHighlight: true, appFont: 5>2}">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Et iste rem ad repudiandae tempore! Cumque aut iusto earum, 
    minus non rem recusandae? Labore odit illo porro odio corrupti similique eum!
  </p>
</div>

<div class="app-container" [appStyle]="{'background-color': active? 'green': 'red', color: active ? 'white' : 'black'}">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Et iste rem ad repudiandae tempore! Cumque aut iusto earum, 
    minus non rem recusandae? Labore odit illo porro odio corrupti similique eum!
  </p>
</div>